@font-face {
  font-family: "gora";
  src: url("../fonts/Gora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* COMMON */

.wrapper,
.footer {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  min-width: 1100px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  /* object-fit: cover;
  width: 100%;
  height: 100%; */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts__mode_hidden {
  display: none;
}

/*  ШРИФТЫ  */

.title__link {
  font-family: Gora, Times, serif;
  font-size: 18px;
  color: #f89513;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.nav__link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.contacts__phone-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.contacts__timetable {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #f89513;
  text-decoration: underline;
}

.contacts__mode {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  color: #221f1f;
}

.contacts__mode-work {
  font-weight: bold;
  color: #f89513;
  margin-bottom: 8px;
}

.section-title {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 49px;
  text-transform: uppercase;
  text-align: center;
}

.features__text,
.features__subtitle {
  font-family: OpenSans, Arial, sans-serif;
}

.features__text {
  font-size: 18px;
  line-height: 1.67;
}

.features__subtitle {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2.64px;
}

.module__block-date {
  font-size: 14px;
  color: #656464;
  font-weight: lighter;
}

.module__block-subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: #221f1f;
  font-weight: bold;
}

.top-news__title,
.top-news__month {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.top-news__month {
  color: #656464;
}

.pagination__counter {
  height: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #656464;
}

.pagination__link {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #221f1f;
}

.design,
.design-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #ffffff;
}

.design__text-bold {
  font-weight: bold;
}

.design-link {
  text-decoration: underline;
}

.social__subtitle {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

/* HEADER */

.header,
.footer {
  background-color: #131415;
  color: #fff;
  padding-top: 22px;
  padding-bottom: 17px;
}

.header__container,
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  max-width: 320px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}



.nav__link {
  display: flex;
  align-items: flex-end;
  margin-right: 27px;
}

.nav__link::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 19px;
  width: 20px;
  height: 18px;
}

.nav__link_bg-main::before {
  background-image: url(../img/main_icon.png);
}

.nav__link_bg-feed::before {
  background-image: url(../img/feed_icon.png);
}

.nav__link_bg-services::before {
  background-image: url(../img/service_icon.png);
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__mode {
  text-align: left;
  width: 164px;
  border-radius: 3px;
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding-left: 20px;
  padding-top: 22px;
  position: absolute;
  top: 85px;
}

.contacts__mode::before {
  content: "";
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
  top: -7px;
  left: 140px;
}

.contacts__mode-break {
  margin-bottom: 17px;
}

/* PAGE */

.picture {
  padding-top: 79px;
  padding-bottom: 58px;
  margin: 0;
}

.picture__container {
  display: flex;
  justify-content: center;
}

.features {
  background-color: #131415;
  color: #fff;
  padding-top: 66px;
  padding-bottom: 102px;
}

.features__container {
  max-width: 795px;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin-bottom: 63px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.features__item {
  max-width: 202px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.features__item::before {
  content: "";
  width: 66px;
  height: 66px;
  align-self: center;
  background-color: #f89513;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}

.features__item_bg-flower::before {
  background-image: url(../img/flower.png);
}

.features__item_bg-star::before {
  background-image: url(../img/star.png);
}

.features__item_palette::before {
  background-image: url(../img/palette.png);
}

.features__subtitle {
  margin-bottom: 30px;
}

.features__text {
  margin-bottom: 20px;
}

.features__checklist {
  text-align: left;
}

.features__checklist-item {
  display: flex;
  align-items: center;
}

.features__checklist-item:not(:last-child) {
  margin-bottom: 17px;
}

.features__checklist-item::before {
  content: "";
  margin-right: 27px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.feeds {
  padding-top: 69px;
  padding-bottom: 70px;
}

.feeds__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feeds__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.news-content {
  max-width: 880px;
}

.module__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.module__item {
  display: flex;
  flex-direction: column;
}

.module__item:not(:last-child):after {
  content: "";
  max-width: 832px;
  height: 2px;
  background-color: #f5f5f5;
}

.module__item:not(:last-child) {
  margin-bottom: 30px;
}

.module__block {
  display: flex;
}

.module__block {
  padding-bottom: 20px;
}

.module__block-img {
  max-width: 160px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.module__block-pic {
  border-radius: 50%;
}

.module__block-desc {
  max-width: 700px;
}

.module__block-subtitle {
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
  margin-right: 10px;
}

.pagination__counter {
  margin-right: 40px;
}

.pagination__item {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__backward,
.pagination__forward {
  position: relative;
  display: flex;
}

.pagination__backward::before,
.pagination__forward::after {
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid #231f20;
  border-width: 2px 0 0 2px;
  transform: rotate(-45deg);
}

.pagination__backward::before {
  margin-right: 10px;
}

.pagination__forward::after {
  transform: rotate(135deg);
}

.pagination__link_disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__link_disabled::before,
.pagination__link_disabled::after {
  border-color: #bebdbd;
}

.top-news {
  max-width: 160px;
}

.top-news__month {
  margin-bottom: 24px;
}

.top-news__item:not(:last-child) {
  margin-bottom: 20px;
}

.top-news__link {
  position: relative;
  display: flex;
}

.top-news__link::before {
  content: "";
  position: absolute;
  background-color: rgba(245, 245, 345, 0.2);
  width: 100%;
  height: 100%;
}

.footer {
  padding: 14px 0;
}

.design {
  max-width: 246px;
}

.social__list {
  display: flex;
}

.social__subtitle {
  margin-bottom: 8px;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d0d0d0;
  background-repeat: no-repeat;
  background-position: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link_vk {
  background-image: url(../img/vk.png);
}

.social__link_fb {
  background-image: url(../img/fb.png);
}

.social__link_google {
  background-image: url(../img/google.png);
}

.social__link_tw {
  background-image: url(../img/twitter.png);
}

.social__link_mail {
  background-image: url(../img/mail.png);
}

/* ANIMATION */

.nav__link:hover {
  color: #f89513;
}

.contacts__timetable:hover {
  color: #fff;
  cursor: pointer;
}

.pagination__item:not(.pagination__item_active):hover .pagination__link {
  color: #f89513;
}

.pagination__item_active {
  background-color: #27273e;
  cursor: default;
  pointer-events: none;
}

.pagination__item_active .pagination__link {
  color: #fff;
}

.social__link:hover {
  background-color: #f89513;
}