* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $black;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  position: relative;
  @include font-family ($GagalinRegular);
  font-size: $default-font-size;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  @include container($container-width, $container-padding)
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  @include font-family($UbuntuMedium);
  font-size: 13px;
  border-radius: 5px;
  background-color: $coral;
  color: #ffffff;
  padding: 12px 15px;
  border: none;
  text-transform: uppercase;
}


.title {
  @include font-family($GagalinRegular);
  font-size: 72px;
  text-transform: uppercase;
}