//fonts
$GagalinRegular: "GagalinRegular";
$UbuntuRegular: "UbuntuRegular";
$UbuntuBold: "UbuntuBold";
$UbuntuLight: "UbuntuLight";
$UbuntuMedium: "UbuntuMedium";
$UbuntuRegular: "UbuntuRegular";
$LifehackMedium: "LifehackMedium";

// size
$default-font-size: 14px;
$container-width: 940px;
//$laptop: 920px;
$mobile: 768px;
$extrasmall: 480px;


// colors
$white: #fff;
$black: #000;
$graf: #585858;
$darkGrey: #2f3234;
$redOrange: #c1401e;
$orangeYellow: #f9b43b;
$coral: #e45028;
$graphiteBlack: #1f2122;
$mango: #eb8c38;

