.price {
  color: $coral;
  font-size: rem(72px);
  margin-right: rem(30px);display: inline-flex;
  align-items: baseline;
  @include media($extrasmall) {
    font-size: rem(50px);
  }
  &__exchange {
    font-size: rem(30px);
    margin-left: rem(10px);
    @include media($extrasmall) {
      font-size: rem(24px);
    }
  }
}