.slogan {
  color: $orangeYellow;
  &__top {
    display: block;
    @include media($mobile) {
      font-size: rem(40px);
    }
  }
  &__bottom {
    @include font-family($LifehackMedium);
    display: block;
    color: $white;
    font-size: rem(64px);
    text-transform: lowercase;
    @include media($mobile) {
      font-size: rem(53px);
    }
  }
}