.breadcrumbs {
  margin-bottom: 28px;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  color: #f89513;
  text-decoration: underline;
}

.breadcrumbs__item:before {
  content: "/";
  margin-right: -2px;
  margin-left: 5px;}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #221f1f;
}

.breadcrumbs__item:last-child {
  cursor: default;
  pointer-events: none;
}
