.breadcrumbs__list {
  display: flex;
  margin-bottom: 8px;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  color: #f89513;
  text-decoration: underline;
}

.breadcrumbs__item:not(:first-child) {
  margin-left: 5px;
}

.breadcrumbs__item:before {
  content: "/";
  margin-right: -2px;
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__item:last-child {
  cursor: default;
  pointer-events: none;
}
