.content_ppadding-bottom {
  padding-bottom: 50px;

}
.content__container {
  display: flex;
  justify-content: space-between;
}

.content__column-left {
  /*width: 275px;*/
  width: 23.7%;
}

.content__column-right {
  width: 74.6%;
}