.feeds {
  padding-top: 2px;
}

.feeds__container {
  display: flex;
  flex-direction: column;
  /*width: 865px;*/
}

.feeds__content {
  max-width: 865px;
}

.feeds__title {
  margin-bottom: 27px;
}

.feeds__wrapper {
  display: flex;
  justify-content: space-between;
  /*width: 100%;*/
}