.form {
  padding-top: 35px;
  padding-bottom: 49px;
  border-radius: 3px;
  max-width: 568px;
  margin: 0 auto;
}

.form__title {
  margin-bottom: 8px;
  text-align: left;
  text-transform: none;
}

.form__field {
  display: flex;
  justify-content: space-between;
}

.form__field:not(:last-child) {
  margin-bottom: 18px;
}

.form__row-label,
.form__text-label,
.form__option-question {
  margin-bottom: 5px;
}

.form__row-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form__field_flex-dir {
  flex-direction: column;
}

.form__row-field:not(:last-child) {
  margin-right: 23px;
}

.form__row-input {
  display: flex;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  border: 1px solid #fff;
  outline: none;
  padding: 0 0 0 10px;
}

.form__row-input::placeholder,
.form__text-field::placeholder {
  font-family: OpenSansArial, Arial, sans-serif;;
  font-size: 14px;
  font-weight: 300;
  color: rgba(34, 31, 31, 0.5);
}

.form__text-field {
  width: 100%;
  height: 90px;
  border: 1px solid #fff;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.form__text-field {
  padding-left: 8px;
  padding-top: 7px;
}

.form__send {
  display: flex;
  justify-content: space-between;
}

.form__option {
  display: flex;
  flex-direction: column;
}

.form__option-mode {
  display: flex;
}

.form__option-field:not(:last-child) {
  margin-right: 17px;
}

.form__row-input:focus,
.form__text-field:focus {
  border-radius: 3px;
  border: 1px solid #f89513;
}

.form__option-label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.form__option-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: solid 1px #c9c9c9;
  border-radius: 50%;
  background-image: linear-gradient(to top, #ededed, #ffffff);
  margin-right: 5px;
  transition: .5s;
}

.form__option-radio:checked+
.form__option-label {
  color: #f89513;
  transition: .5s;
}

.form__option-radio:checked+
.form__option-label::before {
  border: solid 1px #f89513;
  background-image: linear-gradient(to bottom, #ededed, #ffffff);
  transition: .5s;
}

.form__option-radio:checked+
.form__option-label::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f89513;
  left: 7px;
  top: 7px;
  transition: .5s;
}


