.intro {
  background-image: url("../../img/intro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.intro__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

.intro__block-anim {
  display: flex;
  flex-direction: column;
  animation: intro-anim .7s;
}

.intro__block-img {
  margin-bottom: 31px;
}

.intro__block-link {
  width: 171px;
  padding: 16px 0;
  text-align: center;
}

@keyframes intro-anim {
  from {
    opacity: 0;
  }

  20% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(1);
  }

  to {
    opacity: 1;
  }
}
