.nav {
  display: flex;
  justify-content: center;
}

.nav_main-mb {
  margin-bottom: 25px;
}

.nav_comments-mb {
  margin-bottom: 83px;
}

.nav_services-mb {
  margin-bottom: 70px;
}

.nav__list {
  display: inline-flex;
  flex-direction: column;
}

.nav__item:not(:last-child) {
  margin-bottom: 27px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  transition: .5s;
}

.nav__link::before {
  content: "";
  margin-right: 19px;
  opacity: 1;
}

.nav__link::after {
  content: "";
  position: absolute;
  opacity: 0;
}

.nav__link:hover::before {
  opacity: 0;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__item_active .nav__link::before {
  opacity: 0;
}

.nav__item_active .nav__link::after {
  opacity: 1;
}

.nav__link_bg-main::before {
  width: 19px; height: 14px;
  background: url("../../img/sprites.png") -64px -63px;
  transition: .5s;
}

.nav__link_bg-main::after {
  width: 19px; height: 14px;
  background: url("../../img/sprites.png") -15px -63px;
  transition: .5s;
}

.nav__link_bg-feed::before {
  width: 20px; height: 18px;
  background: url("../../img/sprites.png") -65px -15px;
  transition: .5s;
}

.nav__link_bg-feed::after {
  width: 20px; height: 18px;
  background: url("../../img/sprites.png") -15px -15px;
  transition: .5s;
}

.nav__link_bg-services::before {
  width: 19px; height: 14px;
  background: url("../../img/sprites.png") -115px -15px;
  transition: .5s;
}

.nav__link_bg-services::after {
  width: 19px; height: 14px;
  background: url("../../img/sprites.png") -115px -59px;
  transition: .5s;
}

.nav__item:hover .nav__link,
.nav__item_active .nav__link {
  color: #f89513;
  transition: .5s;
}