.nav {
  min-width: 340px;
/* для pixer perfect */
  padding-top: 7px;
  padding-left: 15px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 27px;
}

.nav__link {
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
}

.nav__link::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 19px;
  width: 20px;
  height: 18px;
}

.nav__link_bg-main::before {
  background-image: url(../../img/main_icon.png);
}

.nav__link_bg-feed::before {
  background-image: url(../../img/feed_icon.png);
}

.nav__link_bg-services::before {
  background-image: url(../../img/service_icon.png);
}

.nav__item:hover .nav__link,
.nav__item_active .nav__link {
  color: #f89513;
}

.nav__item:hover .nav__link_bg-main::before,
.nav__item_active .nav__link_bg-main::before {
  background-image: url(../../img/main_icon_hover.png);
}

.nav__item:hover .nav__link_bg-feed::before,
.nav__item_active .nav__link_bg-feed::before {
  background-image: url(../../img/feed_icon_hover.png);
} 

.nav__item:hover .nav__link_bg-services::before,
.nav__item_active .nav__link_bg-services::before {
  background-image: url(../../img/service_icon_hover.png);
} 
