.partners {
  padding-top: 23px;
  padding-bottom: 30px;
  border: solid 1px #000000;
}

.partners_mb {
  margin-bottom: 26px;
}

.partners__title {
  margin-bottom: 53px;
  font-size: 18px;
  text-align: center;
}

.partners__list {
  display: flex;
  flex-direction: column;
}

.partners__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__item:not(:last-child) {
  margin-bottom: 63px;
}

.partners__link {
  display: flex;
  filter : grayscale(1);
  transition: .7s;
}

.partners__link:hover{
  filter : grayscale(0);
  transition: .7s;
}