.promo {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url(../../img/promo-bg.jpg);
  background-position: center;
}

.promo_mb {
  margin-bottom: 27px;
}

.promo__content {
  text-align: center;
}

.promo__content-accent {
  font-weight: bold;
  color: #f89513;
}
