.promo {
  padding-top: 20px;
  padding-bottom: 30px;
  background-image: url(../../img/promo-bg.jpg);
  background-position: center;
}

.promo__container {
  max-width: 706px;
}

.promo__content {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}

.promo__content-accent {
  font-weight: bold;
  color: #f89513;
}
