.promo {
  padding-top: 20px;
  padding-bottom: 24px;
  background-image: url("../../img/promo-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.promo_mb {
  margin-bottom: 27px;
}

.promo__content {
  text-align: center;
}

.promo__content-accent {
  font-weight: bold;
  color: #f89513;
}
