.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 11px;
}

/* .service__item:not(:last-child) {
  margin-bottom: 47px;
}

.service__item:not(:nth-child(3n)) {
  margin-right: 59px;
}
 */

.service__item {
  max-width: 260px;
  margin-bottom: 45px;
}

.service__block {
  display: flex;
  flex-wrap: wrap;

}

.service__block-img {
  position: relative;
  margin-right: 0;
  max-width: 100%;
  margin-bottom: 21px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.service__block-pic {
  object-fit: cover;
  max-height: 153px;
  width: 100%;
}

.service__block-subtitle {
  position: absolute;
}

.service__block-headline {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #221f1f;
  margin-bottom: 5px;
}

.service__block-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #221f1f;
  line-height: 1.5;
}