.social__subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d0d0d0;
  background-repeat: no-repeat;
  background-position: center;
  transition: .7s;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  position: relative;
}
.social__link::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__link_vk::after {
  width: 12px; height: 7px;
  background: url("../../img/sprites.png") -164px -15px;
}

.social__link_fb::after {
  width: 6px; height: 13px;
  background: url("../../img/sprites.png") -164px -52px;
}

.social__link_google::after {
  width: 15px; height: 9px;
  background: url("../../img/sprites.png") -15px -107px;}

.social__link_tw::after {
  width: 11px; height: 9px;
  background: url("../../img/sprites.png") -102px -107px;}

.social__link_mail::after {
  width: 12px; height: 9px;
  background: url("../../img/sprites.png") -60px -107px;}

.social__link:hover {
  background-color: #f89513;
  transition: .7s;
}