.top-news {
  max-width: 160px;
  padding-top: 3px;
}

.top-news__title {
  margin-bottom: 4px;
}

.top-news__month {
  margin-bottom: 20px;
  color: #656464;
}

.top-news__item:not(:last-child) {
  margin-bottom: 25px;
}

.top-news__link {
  position: relative;
  display: flex;
}

.top-news__link::before {
  content: "";
  position: absolute;
  background-color: rgba(245, 245, 345, 0.2);
  width: 100%;
  height: 100%;
}
