@import "../layout/mixins";

.left-column,
.right-column {
  display: flex;
  flex: 1;
  justify-content: center;
}

.left-column:hover  {
  background-image: url("../../img/icons/drops.svg");
  background-repeat: no-repeat;
  background-position: -20px 75px;
}

.left-column {
  max-width: 452px;
}

.right-column {
  max-width: 420px;
  max-height: 424px;
}

.intro {
  padding-top: 250px;
  @include section-bg(intro);
  &__page {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }
}

.slogan {
  color: #f9b43b;
  &__top {
    margin-bottom: 40px;
  }
  &__bottom {
    @include font-family(LifehackMedium);
    color: #ffffff;
    font-size: 65px;
    text-transform: lowercase;
  }
}