header.header
    .container.header__container
    .main-logo
        +image("content/logo.png", "main-logo__img")
    nav.nav-menu
        .nav-menu__wrap
            include ../components/nav-menu
    .social
        .social__wrap
            include ../components/social