header.header
    .container.header__container
        .main-logo
            .title ะะก
        nav.nav-menu
            include ../components/nav-menu
        .social
            include ../components/social-list