header.header
    .container.header__container
        .main-logo
            +image("content/logo.png", "main-logo__img")
        nav.nav-menu
            include ../components/nav-menu
        .social
            include ../components/social-list