section.promo
    .parallax__top
    .container.promo__container
        .promo__inner
            .about__site Личный сайт веб разработчика
            h1.title.promo__title #{authorName}
        .scroll.promo__scroll
            a(href="#", title="Scroll").scroll__link Скролл
                +icon("scroll", "scroll__svg")