section.reviews
    .container.reviews__container
        .reviews__top
            h2.title.reviews__title Что обо мне говорят
            +directionArrow(["left", "right"])
        .reviews__slider
            ul.reviews__list
                li.reviews__item
                    .reviews__left
                        .quote__block
                            +icon("quote", "quote__svg")
                    .reviews__right
                        .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                        .reviews__author
                            .author__block
                                .author__pic
                                    +image("content/reviews/author1.png", "author__img")
                                .author__info
                                    .author__name Ковальчук Дмитрий
                                    .author__profession Основатель Loftschool