+menuList("nav-menu",
    [
        "Главная",
        "Обо мне",
        "Навыки",
        "Работы",
        "Отызыв",
        "Связаться"
    ],
    [
        "#1",
        "#2",
        "#3",
        "#4",
        "#5",
        "#6"
    ]
)
