+skillsList("front-end",
    [
        "HTML",
        "CSS3",
        "Javascript",
        "Jquery и Vue.js"
    ]
)

+skillsList("workflow",
    [
        "GIT",
        "Terminal",
        "Gulp",
        "Webpack"
    ]
)
