//@import "../layout/mixins";

.intro {
  @include section-bg(intro);
  @include section-size;
  &__container {
    border: 1px solid green;
    height: 100vh;
    display: flex;
  }
  &__inner {
    border: 1px solid red;
  }
  &__left,
  &__right {
    border: 1px solid blue;
    align-items: center;
    display: flex;
  }

  &__left {
    flex-grow: 1;
  }

  &__right {
    max-width: 406px;
  }

  &__img {
    width: 100%;
    height: auto;
    background-image: url("../img/icons/drops.svg");
    background-repeat: no-repeat;
    background-position: center center;
   }
}

