.intro {
  @include section-bg(intro);
  @include section-size();
  position: relative;
  &__container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media($laptop) {
      flex-wrap: wrap;
      justify-content: center;
      max-height: 770px;
    }
  }

  &__left,
  &__right {
    flex-basis: 460px;
  }

  &__right {
    flex-basis: 460px;
    @include media($laptop) {
      text-align: center;
    }
  }

  &__left {
    background-image: url("../img/icons/drops.svg");
    background-repeat: no-repeat;
    background-position: center 90px;
  }

  &__img {
    width: 100%;
   }
}

