* {
  box-sizing: border-box;
}

html {
  font-size: $default-font-size;
}

html,
body {
  height: 100%;
  background-color: $black;
  //overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.wrapper {
  min-width: rem(320px);
  position: relative;
  @include font-family ($GagalinRegular);
  font-size: rem($default-font-size);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  height: 100%;
  //flex: 1;
  transition: 1s;
}

.container {
  @include container($container-width);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  @include font-family($UbuntuMedium);
  font-size: rem(13px);
  border-radius: 5px;
  background-color: $coral;
  color: $white;
  padding: rem(13px) rem(15px);
  border: none;
  text-transform: uppercase;
  display: flex;
  &:hover {
    background-color: $redOrange;
    transition: background-color .7s;
  }
  &_mr {
    margin-right: rem(20px);
  }
  @include media($mobile) {
    font-size: rem(13px);
  }
}

.title {
  @include font-family($GagalinRegular);
  font-size: rem(72px);
  text-transform: uppercase;
  color: $orangeYellow;
  @include media($mobile) {
    font-size: rem(50px);
  }
}

.menu-close {
  padding-top: 10px;
}



