.accordion {

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 100%;
    max-width: 330px;
    &_active .accordion {
      &__drop-block {
        height: auto;
      }
      &__subtitle {
        color: $orangeYellow;
        &:before {
          transform: scaleY(-1);
        }
      }
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 35px;
  }

  &__subtitle {
    color: $white;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 9px solid $orangeYellow;
      margin-right: 10px;
    }
  }


  &__drop {

    &-block {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      height: 0;

    }
    &-img {
      max-width: 100px;
      max-height: 100px;
    }
    &-pic{
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
    }

    &-post {
      @include font-family($UbuntuBold);
      color: $white;
      margin-bottom: 25px;
    }
    &-text p {
      @include font-family($UbuntuLight);
      max-width: 208px;
      color: $white;
    }
  }
}