.address {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include media($extrasmall) {
     align-items: center;
   }
  &__info {
    @include font-family($UbuntuLight);
    color: $white;
    font-style: normal;
    margin-bottom: rem(7px);
  }
  &__link {
    @include font-family($UbuntuBold);
    color: $coral;
    font-style: normal;
    @include media($extrasmall) {
      margin-bottom: rem(20px);
      display: flex;
    }
  }
}