.advantage {

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @include media($mobile) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: rem(300px);
    @include media($mobile) {
      flex-basis: 100%;
      flex-direction: row;
      margin-bottom: rem(60px);
    }
  }

  &__img {
    margin-bottom: rem(33px);
    @include media($mobile) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__inner {
    @include media($mobile) {
      flex: 3;
      text-align: start;
      max-width: rem(318px);
    }
  }

  &__title {
    @include font-family($LifehackMedium);
    font-size: rem(24px);
    color: $darkGrey;
    margin-bottom: rem(24px);
  }

  &__desc p {
    @include font-family($UbuntuLight);
    font-size: rem(14px);
    line-height: rem(24px);
    color: rgba(47, 50, 52, 0.8);
  }
}