.advantage {

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    @include media($mobile) {
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
    @include media($mobile) {
      flex-basis: 100%;
      flex-direction: row;
      margin-bottom: 4.28rem;
    }
  }

  &__img {
    margin-bottom: 2.36rem;
    @include media($mobile) {
      flex: 1;
      margin-bottom: 0;
    }
  }

  &__inner {
    @include media($mobile) {
      flex: 3;
      text-align: start;
      max-width: 318px;
    }
  }

  &__title {
    @include font-family($LifehackMedium);
    font-size: 1.72rem;
    color: $darkGrey;
    margin-bottom: 1.79rem;
  }

  &__desc p {
    @include font-family($UbuntuLight);
    font-size: 1rem;
    line-height: 1.72rem;
    color: rgba(47, 50, 52, 0.8);
  }
}