.advantage {

  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
  }

  &__img {
    margin-bottom: 2.36rem;
  }

  &__title {
    @include font-family($LifehackMedium);
    font-size: 1.72rem;
    color: $darkGrey;
    margin-bottom: 1.79rem;
  }

  &__desc p {
    @include font-family($UbuntuLight);
    font-size: 1rem;
    line-height: 1.72rem;
    color: rgba(47, 50, 52, 0.8);
  }
}