.arrow-down {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__block {
    cursor: pointer;
    &_pb {
      padding-bottom: 40px;
    }
  }
}