.arrow-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  &__block_pb {
    padding-bottom: 2.86rem;
  }
  &__img {
    fill: $white;
  }
}