.footer {
  @include section-bg(footer);
  position: absolute;
  bottom: 0;
  width: 100%;
  //max-height: 4.29rem;
  &__container {
    display: flex;
    padding-top: rem(11px);
    padding-bottom: rem(11px);
    @include media($mobile) {
      flex-direction: column;
    }
  }
}