.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include media($mobile) {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
&_checkbox-img path {
  fill: $coral;
}
  &__label {
    @include font-family($UbuntuLight);
    color: $white;
    margin-bottom: rem(7px);
    display: flex;
    align-items: center;
    position: relative;
  }
  &__input {
    @include font-family($UbuntuLight);
    width: 100%;
    font-size: rem(14px);
    border: solid 2px transparent;
    border-radius: 5px;
    outline: none;
    height: rem(30px);
    color: $darkGrey;
    padding-left: rem(20px);
    &:focus {
      border-color: $orangeYellow;
    }
  }

  &__column {
    width: 100%;
    max-width: rem(460px);
    &:not(:last-child) {
      margin-right: rem(20px);
      @include media($mobile) {
        margin-right: 0;
        margin-bottom: rem(24px);
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    &_jc {
      justify-content: space-between;
    }

    &:not(:last-child) {
      margin-bottom: rem(20px);
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    flex: 1;
    &_house-info {
      max-width: rem(100px);
      &:not(:last-child) {
        margin-right: 5px;
      }
      input {
        padding-left: 0;
        text-align: center;
      }
    }
    &_mob-size {
      @include media(414px) {
        flex: none;
        width: 100%;
      }
    }
    &_mr:not(:last-child) {
      margin-right: rem(20px);
      @include media(414px) {
        margin-right: 0;
        margin-bottom: rem(20px);
      }
    }
    &-pay, &-call {
      flex-direction: row;
      align-items: center;
      label {
        margin-bottom: 0;
        position: relative;
      }
    }
    &-pay {
      flex: none;
      &:not(:last-child) {
        margin-right: rem(20px);
      }
      label:before {
        content: "";
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $white;
        margin-right: 0.71rem;
      }
      label:after {
        position: absolute;
        content: "";
        display: flex;
        width: 8px;
        height: 8px;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        background-color: $coral;
        opacity: 0;
        transition: opacity .7s;
      }
    }

    &-call {
      label:before {
        content: "";
        display: flex;
        width: 15px;
        height: 15px;
        margin-right: 10px;
        background-color: $white;
      }
      label:after {
        position: absolute;
        content: "";
        width: 3px;
        height: 7px;
        border: solid $coral;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        opacity: 0;
        bottom: 3px;
        left: 4px;
      }
    }
  }

  &__radio:checked + .form__label:after {
    opacity: 1;
    transition: opacity .7s;
  }

  &__checkbox:checked + .form__label:after {
    opacity: 1;
    transition: opacity .7s;
  }

  &__comment {
    resize: none;
    border: solid 2px transparent;
    border-radius: 5px;
    outline: none;
    height: rem(110px);
    @include font-family($UbuntuLight);
    color: $darkGrey;
    padding-left: rem(20px);
    padding-top: rem(10px);
    &:focus {
      border-color: $orangeYellow;
    }
  }

  &__reset {
    @include font-family($UbuntuLight);
    background-color: transparent;
    text-transform: none;
  }
}