.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  &__container {
    display: flex;
    align-items: center;
  }
  &__block {
    position: relative;
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
