//@import "../layout/mixins";
//@import "../layout/fonts";

.menu {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child):after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 15px;
  }

  &__link {
    @include font-family(UbuntuRegular);
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
  }
}



