.nav {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child):after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $white;
    margin: 0 0.86rem;
  }

  &__link {
    @include font-family($UbuntuRegular);
    font-size: 0.93rem;
    color: $white;
    text-transform: uppercase;
  }
}



