//@import "../layout/mixins";
//@import "../layout/fonts";

.order {

  &__link {
    @include font-family(UbuntuRegular);
    font-size: 13px;
    line-height: 2px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    transition: background-color .7s;
  }

  &__link:hover {
    background-color: #c1401e;
    transition: background-color .7s;
  }
}