.page-pagination {
  position: fixed;
  top: 90px;
  right: 50px;
  z-index: 2;
  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &_active .page-pagination__link {
      border-color: $white;
    }
  }

  &__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      display: block;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: $white;
    }
  }
}

