.slogan {
  color: $orangeYellow;
  &__top {
    display: block;
    //margin-bottom: 40px;
  }
  &__bottom {
    @include font-family($LifehackMedium);
    display: block;
    color: $white;
    font-size: 4.64rem;
    text-transform: lowercase;
  }
}