.slogan {
  color: $orangeYellow;
  &__top {
    display: block;
    padding-top: 120px;
    margin-bottom: 40px;
  }
  &__bottom {
    @include font-family($LifehackMedium);
    display: block;
    color: $white;
    font-size: 65px;
    text-transform: lowercase;
  }
}