.social {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    width: 100%;
  }

  &__item {
    cursor: pointer;
    &:hover .social__use {
      fill: $white;
      transition: .5s;
    }
  }

  &__link {
    display: flex;
  }

  &__use {
    fill: $graf;
    transition: .5s;
  }
}