html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

.wrapper {
  max-width: 1100px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container_resize-920 {
  max-width: 920px;
}

/* .header,
.footer {
  background-color: #131415;
  color: #fff;
  padding-top: 22px;
  padding-bottom: 17px;
}

.header__container,
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding: 10px 0;
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  width: 125px;
  height: 45px;
  border-radius: 3px;
  background-color: #1c1f1d;
  font-family: OpenSans;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
}