html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

.wrapper {
  min-width: 1200px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  width: 125px;
  height: 45px;
  border-radius: 3px;
  background-color: #1c1f1d;
  cursor: pointer;
  transition: .7s;
}

.btn:hover {
  background-color: #f89513;
  transition: .7s;
}

