@font-face {
  font-family: "gora";
  src: url("../../fonts/Gora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
}

.title__link {
  font-family: Gora, Times, serif;
  font-size: 18px;
  color: #f89513;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.nav__link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #221f1f;
  text-transform: uppercase;
}

.contacts__phone-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
}

.contacts__timetable {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #f89513;
  text-decoration: underline;
}

.contacts__mode {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  color: #221f1f;
}

.contacts__mode-work {
  font-weight: bold;
  color: #f89513;
}

.section-title {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 49px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.features__text,
.features__subtitle {
  font-family: OpenSans, Arial, sans-serif;
  color: #221f1f;
}

.module__block-subtitle {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.service__block-subtitle {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 0.72px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}


.top-news__title,
.top-news__month {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.pagination__counter {
  height: 14px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #656464;
}

.pagination__link {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #221f1f;
}

.breadcrumbs__link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: #221f1f;
}

.social__subtitle {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.promo__content {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}

.feedback {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #221f1f;
}
