@font-face {
  font-family: GagalinRegular;
  src: url("../fonts/Gagalin/GagalinRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UbuntuRegular;
  src: url("../fonts/Ubuntu/UbuntuRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UbuntuBold;
  src: url("../fonts/Ubuntu/UbuntuBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UbuntuLight;
  src: url("../fonts/Ubuntu/UbuntuLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UbuntuMedium;
  src: url("../fonts/Ubuntu/UbuntuMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UbuntuRegular;
  src: url("../fonts/Ubuntu/UbuntuRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: LifehackMedium;
  src: url("../fonts/Lifehack/LifehackMedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }

html,
body {
  height: 100%;
  background-color: #000; }

img {
  max-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

a {
  text-decoration: none; }

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.wrapper {
  min-width: 320px;
  position: relative;
  font-family: "GagalinRegular", Arial, Helvetica, sans-serif;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.wrapper__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  font-family: "UbuntuMedium", Arial, Helvetica, sans-serif;
  font-size: 0.93rem;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  padding: 0.86rem 1.07rem;
  border: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btn:hover {
    background-color: #c1401e;
    -webkit-transition: background-color .7s;
    -o-transition: background-color .7s;
    transition: background-color .7s; }
  .btn_mr {
    margin-right: 1.43rem; }

.title {
  font-family: "GagalinRegular", Arial, Helvetica, sans-serif;
  font-size: 5.15rem;
  text-transform: uppercase;
  color: #f9b43b; }

.logo__icon {
  max-width: 98px;
  max-height: 74px; }

.header {
  position: absolute;
  width: 100%;
  z-index: 1; }
  .header__block {
    position: relative;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item:not(:last-child):after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 0.86rem; }

.nav__link {
  font-family: "UbuntuRegular", Arial, Helvetica, sans-serif;
  font-size: 0.93rem;
  color: #fff;
  text-transform: uppercase; }

.order__link {
  font-family: "UbuntuRegular", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background-color .7s;
  -o-transition: background-color .7s;
  transition: background-color .7s; }

.arrow-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 3; }
  .arrow-down__block_pb {
    padding-bottom: 2.86rem; }
  .arrow-down__img {
    fill: #fff; }

.page-pagination {
  position: fixed;
  top: 6.43rem;
  right: 3.57rem;
  z-index: 2; }
  .page-pagination__item:not(:last-child) {
    margin-bottom: 0.76rem; }
  .page-pagination__item_active .page-pagination__link {
    border-color: #fff; }
  .page-pagination__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: solid 1px transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .page-pagination__link:before {
      content: "";
      display: block;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background-color: #fff; }

.intro {
  background-image: url("../img/intro-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative; }
  .intro__container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .intro__left, .intro__right {
    -ms-flex-preferred-size: 460px;
    flex-basis: 460px; }
  .intro__left {
    background-image: url("../img/icons/drops.svg");
    background-repeat: no-repeat;
    background-position: center 90px; }
  .intro__img {
    width: 100%; }

.slogan {
  color: #f9b43b; }
  .slogan__top {
    display: block; }
  .slogan__bottom {
    font-family: "LifehackMedium", Arial, Helvetica, sans-serif;
    display: block;
    color: #fff;
    font-size: 4.64rem;
    text-transform: lowercase; }

.we {
  background-image: url("../img/we-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .we__title {
    text-align: center;
    margin-bottom: 55px;
    color: #2f3234; }

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px; }

.advantage__img {
  margin-bottom: 2.36rem; }

.advantage__title {
  font-family: "LifehackMedium", Arial, Helvetica, sans-serif;
  font-size: 1.72rem;
  color: #2f3234;
  margin-bottom: 1.79rem; }

.advantage__desc p {
  font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.72rem;
  color: rgba(47, 50, 52, 0.8); }

.team {
  background-image: url("../img/team-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .team__block {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(47, 50, 52, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .team__title {
    padding-top: 22%;
    margin-bottom: 3.22rem; }

.accordion__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0.71rem;
  padding-right: 0.71rem; }

.accordion__item {
  width: 100%;
  max-width: 330px; }
  .accordion__item:hover .accordion__drop-block {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  .accordion__item:hover .accordion__subtitle {
    color: #f9b43b; }
    .accordion__item:hover .accordion__subtitle:before {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1); }
  .accordion__item_active .accordion__drop-block {
    height: auto;
    -webkit-transition: height .5s;
    -o-transition: height .5s;
    transition: height .5s; }
  .accordion__item_active .accordion__subtitle {
    color: #f9b43b;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .accordion__item_active .accordion__subtitle:before {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
      transform: scaleY(-1); }

.accordion__item:not(:last-child) {
  margin-bottom: 2.5rem; }

.accordion__subtitle {
  color: #fff;
  margin-bottom: 1.07rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem; }
  .accordion__subtitle:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid #f9b43b;
    margin-right: 10px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.accordion__drop-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.accordion__drop-pic {
  border-radius: 50%;
  height: 100px;
  max-width: 100px;
  -o-object-fit: cover;
  object-fit: cover; }

.accordion__drop-post {
  font-family: "UbuntuBold", Arial, Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 1.79rem; }

.accordion__drop-text p {
  font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
  max-width: 208px;
  color: #fff; }

.menu {
  background-image: url("../img/menu-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative; }
  .menu__block {
    width: 100%; }
  .menu__title {
    color: #fff;
    text-align: left;
    padding-top: 7.86rem; }
  .menu__list {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .menu__item:hover .menu__name {
      color: #f9b43b; }
    .menu__item:hover .menu__content {
      height: 100%;
      width: 540px;
      -webkit-transition: width .4s;
      -o-transition: width .4s;
      transition: width .4s; }
    .menu__item_active .menu__name {
      color: #f9b43b; }
    .menu__item_active .menu__content {
      width: 100%;
      max-width: 540px; }
  .menu__name {
    font-family: "GagalinRegular", Arial, Helvetica, sans-serif;
    font-size: 2.86rem;
    color: #fff;
    max-width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover; }
    .menu__name:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(20, 20, 20, 0.7); }
    .menu__name-rotate {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      height: 80px;
      white-space: nowrap;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .menu__content {
    width: 0;
    overflow: hidden;
    background-color: rgba(47, 50, 52, 0.9);
    -webkit-transition: width .4s;
    -o-transition: width .4s;
    transition: width .4s;
    position: relative; }
    .menu__content p {
      font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
      line-height: 1.72rem;
      color: #fff;
      padding-left: 6%;
      padding-right: 7%;
      padding-top: 11%;
      min-width: 540px; }

.reviews {
  width: 100%;
  height: 100vh;
  min-height: 650px; }
  .reviews__block {
    height: 100%; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow: hidden; }
  .reviews__item {
    position: relative;
    width: 25%;
    height: 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); }
    .reviews__item:hover .reviews__drop {
      opacity: 1;
      -webkit-transition: opacity .6s;
      -o-transition: opacity .6s;
      transition: opacity .6s; }
  .reviews__img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
    height: 100%; }
  .reviews__drop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 17%;
    opacity: 0;
    background-color: rgba(81, 81, 79, 0.7); }
  .reviews__title {
    font-family: "GagalinRegular", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 2.14rem; }
  .reviews__desc {
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: #ffffff;
    margin-bottom: 1.21rem; }
  .reviews__btn {
    background-color: #2f3234; }
    .reviews__btn:hover {
      background-color: #1f2122; }

.delivery {
  background-image: url("../img/delivery-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 650px; }
  .delivery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
  .delivery__title {
    margin-bottom: 40px; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .form_checkbox-img path {
    fill: #e45028; }
  .form__label {
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    color: #fff;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
  .form__input {
    border: solid 2px transparent;
    border-radius: 5px;
    outline: none;
    height: 2.14rem;
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    color: #2f3234;
    padding-left: 1.43rem; }
    .form__input:focus {
      border-color: #f9b43b; }
  .form__column {
    width: 100%;
    max-width: 460px; }
    .form__column:not(:last-child) {
      margin-right: 1.43rem; }
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .form__row_jc {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .form__row:not(:last-child) {
      margin-bottom: 1.43rem; }
  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .form__field-house-info {
      max-width: 100px; }
      .form__field-house-info input {
        padding-left: 0;
        text-align: center; }
    .form__field_mr:not(:last-child) {
      margin-right: 1.43rem; }
    .form__field-pay, .form__field-call {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .form__field-pay label, .form__field-call label {
        margin-bottom: 0;
        position: relative; }
    .form__field-pay {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
      .form__field-pay:not(:last-child) {
        margin-right: 1.43rem; }
      .form__field-pay label:before {
        content: "";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 0.71rem; }
      .form__field-pay label:after {
        position: absolute;
        content: "";
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 8px;
        height: 8px;
        left: 4px;
        top: 4px;
        border-radius: 50%;
        background-color: #e45028;
        opacity: 0;
        -webkit-transition: opacity .7s;
        -o-transition: opacity .7s;
        transition: opacity .7s; }
    .form__field-call label:before {
      content: "";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 15px;
      height: 15px;
      margin-right: 0.71rem;
      background-color: #fff; }
    .form__field-call label:after {
      position: absolute;
      content: "";
      width: 3px;
      height: 7px;
      border: solid #e45028;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
      bottom: 3px;
      left: 4px; }
  .form__radio:checked + .form__label:after {
    opacity: 1;
    -webkit-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s; }
  .form__checkbox:checked + .form__label:after {
    opacity: 1;
    -webkit-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s; }
  .form__comment {
    resize: none;
    border: solid 2px transparent;
    border-radius: 5px;
    outline: none;
    height: 7.86rem;
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    color: #2f3234;
    padding-left: 1.43rem;
    padding-top: 0.71rem; }
    .form__comment:focus {
      border-color: #f9b43b; }
  .form__reset {
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    background-color: transparent;
    text-transform: none; }

.contacts {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  position: relative; }
  .contacts__map-block {
    height: 100%; }
    .contacts__map-block img {
      -o-object-position: center;
      object-position: center;
      width: 100%;
      height: 100%; }

.footer {
  background-image: url("../img/footer-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 4.29rem; }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.79rem 0; }

.address {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .address__info {
    font-family: "UbuntuLight", Arial, Helvetica, sans-serif;
    color: #fff;
    font-style: normal;
    margin-bottom: 0.5rem; }
  .address__link {
    font-family: "UbuntuBold", Arial, Helvetica, sans-serif;
    color: #e45028;
    font-style: normal; }

.social {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 140px;
    width: 100%; }
  .social__item {
    cursor: pointer; }
    .social__item:hover .social__use {
      fill: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .social__use {
    fill: #585858;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
